<h1>Courses</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <% @results.each do |result| %>
      <tr>
        <td><%= link_to result['title'], course_path(result['id'])  %></td>
        <td><%= dummy_date(result['start_date']) %></td>
        <td><%= dummy(result['students_count']) %></td>
      </tr>
    <% end %>
  </tbody>
</table>